.a {
    height: 500px;
    width: 100%;
    background-color: aqua
}

.b {
    text-align: left;
    background-color: bisque
}

div {
    text-align: center;
    border: 2px solid
}

.aaa {
    height: 100%;
    width: 100%;
}

body {
    background-color: brown
}